{% extends 'master/master.html' %}


<hr>
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}"></link>
{% endblock %}


{% block content %}
<hr>
<div class="card p-3">
  <div class="chat-body">
    <div class="message">
      <div class="avatar">
        <img src="{% static 'media/lumine.jpg' %}" width="400" height="200">
      </div>
      <div class="message-content">
        <div class="message-header">
          <div class="username">User 1</div>
        </div>
        <div class="message-text">
          <input type="text" class="form-control mt-2" placeholder="Write Your Message Here">
        </div>
        <hr>
        <input type="submit" value="Send" class="btn btn-primary form-control mt-2">
      </div>
    </div>
  </div>
</div>
{% endblock %}